@{
    var chatMessages = MessageStore.GetMessages();
}

<div id="usernameContainer">
    <h2>
        Chatting as
        <select id="setUsername">
            @if (MessageStore.Username == "David")
            {
                <option selected value="David">David</option>
                <option value="Esther">Esther</option>
            }
            else if (MessageStore.Username == "Esther")
            {
                <option value="David">David</option>
                <option selected value="Esther">Esther</option>
            }
        </select>
    </h2>
</div>

<div id="messagesContainer">
    @foreach (var chatMessage in chatMessages)
    {
        if (chatMessage.Who == "David")
        {
            <p class="davidMessage">@chatMessage.Content</p>
        }
        else if (chatMessage.Who == "Esther")
        {
            <p class="estherMessage">@chatMessage.Content</p>
        }
    }

</div>

<div id="sendChatForm">
    <input id="chatMessage" type="text" maxlength="50" />
    <a id="sendChat">send</a>
</div>

<script>
    $("#sendChat").on("click", function () {
        var message = document.getElementById("chatMessage").value;
        this.chatHelper.validateChatMessage(message);
    }.bind(this))

    $("#setUsername").change(function () {
        var username = document.getElementById("setUsername").value;
        window.location.href = `/Chat/SetUsername?username=${username}`;
    }.bind(this))

</script>