@{
    var chatMessages = MessageStore.GetMessages();

    var username = "Chatting as";
    @if (!string.IsNullOrEmpty(MessageStore.Username))
    {
        username = $"Chatting as {MessageStore.Username}";
    }
}

<div id="printUsername">
    <h2>
        Chatting as
        <select id="setUsername">
            <option value="David">David</option>
            <option value="Esther">Esther</option>
        </select>
    </h2>
</div>

@*<div id="usernameSetup">
    <a id="setUsername">I am</a>
    <select id="selectUsername">
        <option value="David">David</option>
        <option value="Esther">Esther</option>
    </select>
</div>*@

<div id="chatMessages">
    @foreach (var chatMessage in chatMessages)
    {
        if (chatMessage.Who == "David")
        {
            <p class="davidMessage">@chatMessage.Content</p>
        }
        else if (chatMessage.Who == "Esther")
        {
            <p class="estherMessage">@chatMessage.Content</p>
        }
    }
</div>

<div id="sendChatForm">
    <input id="chatMessage" type="text" maxlength="100" />
    <a id="sendChat">send</a>
</div>

<script>
    $("#sendChat").on("click", function () {
        var message = document.getElementById("chatMessage").value;
        this.chatHelper.validateChatMessage(message);
    }.bind(this))

    $("#setUsername").on("change", function () {
        var username = document.getElementById("setUsername").value;
        window.location.href = `/Chat/SetUsername?username=${username}`;
    }.bind(this))

</script>