@{
    var chatMessages = MessageStore.GetMessages();
}

<div id="usernameContainer">
    <h2>
        Chatting as
        <select id="setUsername">
            @if (MessageStore.Username == "David")
            {
                <option selected value="David">David</option>
                <option value="Esther">Esther</option>
            }
            else if (MessageStore.Username == "Esther")
            {
                <option value="David">David</option>
                <option selected value="Esther">Esther</option>
            }
        </select>
    </h2>
</div>

<div id="messagesContainer">
    @foreach (var chatMessage in chatMessages)
    {
        if (chatMessage.Who == "David")
        {
            <div class="david">
                <p class="dateTime">@chatMessage.Datetime</p>
                <p class="davidMessage">@chatMessage.Content</p>
            </div>
        }
        else if (chatMessage.Who == "Esther")
        {
            <div class="esther">
                <p class="dateTime">@chatMessage.Datetime</p>
                <p class="estherMessage">@chatMessage.Content</p>
            </div>

        }
    }

</div>

<div id="sendChatForm">
    <textarea rows="1" style="height:2em;" id="chatMessage" maxlength="250" placeholder="type a message"></textarea>
</div>

<script>
    $(document).ready(function () {
        this.chatHelper.scrollToBottom("messagesContainer")
    }.bind(this));

    $("#chatMessage").on("keydown", function () {
        this.chatHelper.updateMessageBox('chatMessage');
    }.bind(this))
    
    $("#chatMessage").on("keyup", function (event) {
        if (event.keyCode === 13) {
            this.chatHelper.validateAndSendChatMessage("chatMessage");
        }
    }.bind(this));

    $("#setUsername").change(function () {
        var username = document.getElementById("setUsername").value;
        window.location.href = `/Chat/SetUsername?username=${username}`;
    }.bind(this))

</script>
