@{
    string who = (string)@ViewData["Who"];
}

<div id="usernameContainer">
    <h4>
        Chatting as
        <select id="username">
            @if (who == "David")
            {
                <option selected value="David">David</option>
                <option value="Esther">Esther</option>
            }
            else if (who == "Esther")
            {
                <option value="David">David</option>
                <option selected value="Esther">Esther</option>
            }
        </select>
    </h4>
</div>

<div id="messagesContainer">
</div>

<div id="emojiContainer">
</div>


<div id="sendChatForm">
    <textarea rows="1" style="height:2em;" id="chatMessage" maxlength="250" placeholder="type a message"></textarea>
    <div id="a">
        <a id="submitMessageButton"><span class="glyphicon glyphicon-play"></span></a>
    </div>
</div>

<div id="messageControls">

    <a hidden id="previous10MessagesButton"><span class="glyphicon glyphicon-arrow-up"></span></a>
    <a hidden id="newMessagesButton"><span class="glyphicon glyphicon-arrow-down"></span></a>
</div>

<div id="messageControlsResponse">
    <p>info</p>
</div>

<script>
    $(document).ready(function () {
        //this.chat.init("@Guid.Empty", "@Guid.Empty");
        this.chat.onLoad();
    }.bind(this))
</script>