body {
    background-color: black;
    /*color: white;*/
}

h2 {
    color: white;
    margin: 10px;
}

input {
    color: black;
}

/*#printUsername {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
}*/

/*#printUsername > a {
        display: block;
        padding-bottom: 5px;
        font-size: 20px;
    }

    #printUsername > select {
        font-size: 18px;
        color: black;
    }*/

#usernameContainer > h2 > #setUsername {
    color: black;
}

#messagesContainer {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    width: auto;
}

#sendChatForm {
    overflow: hidden;
    position: fixed;
    width: auto;
    bottom: 10px;
    border: 3px solid #8AC007;
    /*display: inline-block;*/
    margin: 15px;
    padding: 10px;
    /*border: 2px solid red;*/
    border-radius: 5px;
}

    #sendChatForm > input {
        display: block;
        padding-bottom: 5px;
        font-size: 14px;
        width: 160px;
    }

    #sendChatForm > a {
        display: block;
        padding-bottom: 5px;
        font-size: 20px;
    }

.estherMessage {
    color: deeppink;
}

.davidMessage {
    color: deepskyblue;
}

.footer {
    position: fixed;
    bottom: 0px;
    color: white;
    font-size: 10px;
}
